<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Create Autoshop</h4>
<div class="col-6">
  <form action="#" th:action="@{/autoshops/update/{id}(id=${id})}" th:object="${autoshop}" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
      <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>
    <div class="form-group">
      <label for="employeeCount">Employee Count Error</label>
      <input class="form-control" type="text" th:field="*{employeeCount}"
             placeholder="Max number of students" id="employeeCount">
      <span class="text-danger" th:if="${#fields.hasErrors('employeeCount')}"
            th:errors="*{employeeCount}">Employee Count Error</span>
    </div>

    <button type="submit" class="btn btn-primary">Update Autoshop</button>
  </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>