<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4 th:if="${cars.size()>0}" th:text="'Cars: ' + ${cars.size()}"> </h4>
<div class=" col-6">
    <h3 th:unless="${cars} and ${cars.size()}">There are no cars!</h3>
    <table th:if="${cars.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Brand</th>
        <th>Production year</th>
        <th>Repairs</th>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.productionYear}"></td>
            <td> <a href="/repairs">Repairs</a></td>

        </tr>


    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>