<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Auto shop Managmnet</title>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<header th:fragment="header">
    <h1>Auto shop System</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autoshops">List of auto shops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autoshops/create-autoshop">Create auto shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/repairs">Repairs in your auto shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointments/create-appointment">Create appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointments">Your appointments</a>
                </li>

            </ul>
        </div>
    </nav>
</header>
<footer page-footer font-small>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#">Auto shop System</a>
    </div>
</footer>

</html>
