<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4 th:if="${appointments.size()>0}" th:text="'Appointments: ' + ${appointments.size()}"> </h4>
<div class=" col-6">
    <h3 th:unless="${appointments} and ${appointments.size()}">There are no appointments!</h3>
    <table th:if="${appointments.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Appointment Date</th>
        <th>Delete</th>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.id}"></td>

            <td th:text="${appointment.appointmentDate}"></td>

            <td><a class="btn btn-danger" th:href="@{'/appointments/delete/'+${appointment.id}}">Delete</a></td>
        </tr>


    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
